body {
    background-color: #9c7b16;
    margin: auto;
    margin-top: 150px;
}

.title {
    display: block;
    justify-content: center;
    color: #ffffff;
    color: black;
    text-align: center;
}

.text-input{
    max-width: 650px;
    width: 100%;
}

.button-container button{
    padding-left: 50px;
    padding-right: 50px;
}

.small-font-button {
    font-size: 12px;
  }